.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 -10px 25px rgba(0,0,0,0.1);
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
}

.navbar a {
  text-decoration: none;
  color: #64748b;
  font-size: 13px;
  text-align: center;
}

.navbar a.active {
  color: #2563eb;
  font-weight: bold;
}
